$spacing: (
  "sm": 8px,
  "md": 16px,
  "lg": 24px,
);

.GridRuler {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: absolute;
  width: 100%;
  min-height: 100%;
  &_item {
    background-color: rgba($color: #000, $alpha: 0.1);
  }

  @each $key, $value in $spacing {
    &_spacing_#{$key} {
      gap: $value * 2;
    }
  }
}
